body{
    background-image: url(../images/bg_5.jpg);
    background-size: 100%;
}

#wrapper{
    margin: 0 auto;
    max-width: 1230px;
}

header{
    height: 48px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -8px;
    margin-bottom: 30px;
}

#today{
    display: block;
    max-width: 1200px;
    height: 390px;
    margin:60px auto 30px auto;
    border-radius: 10px;
}

#location{
    display: inline-block;
    width: 570px;
    height: 390px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px
}

#icon{
    display: inline-block;
    width: 570px;
    height: 390px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px
}

#stat{
    display: inline-block;
    width: 570px;
    height: 390px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px
}


#forecast{
    display: block;
    max-width: 1200px;
    height: 390px;
    margin:30px auto 30px auto;
}
   
article{
    display: block;
    float: left;
    max-width: 170px;
    height: 390px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.day p{
    font-family: Open Sans;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 36px;
    text-align: center;
    color: white;
}

.date p{
    font-family: Open Sans;
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 24px;
    text-align: center;
    color: white;
}

.icon{
    width: 170px;
    text-align: center;
}

.icon img{
    height: auto;
    width: 130px;
}

.day-temp p{
    font-family: Open Sans;
    font-size:24px;
    text-align: center;
    margin-bottom: 6px;
    color: white;
}

.night-temp p{
    font-family: Open Sans;
    font-size:20px;
    margin-top: 6px;
    text-align: center;
    color: white;
}