#wrapper {
	max-width: 1170px;
	margin: 0 auto;
}	

#today{
    display: block;
    float: left;
    width: 570px;
    height: 570px;
    background-color: blue;
    margin: 0 auto;
}
   
article{
    display: block;
    float: left;
    width: 170px;
    height: 360px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: green;
}

.day p{
    font-family:Open Sans;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 36px;
    text-align: center;
    color: white;
}

.date p{
    font-family:Open Sans;
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 12px;
    text-align: center;
    color: white;
}

.icon{
    width: 170px;
    text-align: center;
}

.icon img{
    height: auto;
    width: 150px;
}

.day-temp p{
    font-family:Open Sans;
    font-size:18px;
    text-align: center;
    color: white;
}

.night-temp p{
    font-family:Open Sans;
    font-size:18px;
    text-align: center;
    color: white;
}