#wrapper {
	max-width: 1170px;
	margin: 0 auto;
}	

#container{
    width: 100%;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

#today{
    width: 570px;
    height: 570px;
    background-color: blue;
    margin: 0 auto;
}
   
.forecast{
    display: block;
    float: left;
    width: 170px;
    height: 360px;
    background-color: green;
}

.header{
    text-align: center;    
}

.icon{
    fill: red;
}

.day{
    text-align: center;        
   
}

.night{
    text-align: center;    
}