body{
    background-image: url(../images/bg_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper{
    margin: 0 auto;
    max-width: 1230px;
}

header{
    height: 48px;
    width: 100%;
    background-color: black;
    margin-bottom: 30px;
}

h1{
    font-family: Open Sans;
    text-align: left;
    color: white;
    font-size: 24px;
    margin-left: 30px;
    float: left;
}

#search input{
    border-radius: 5px;
    float: right;
    margin-right: 30px;
}

#today{
    display: block;
    width: 1200px;
    height: 370px;
    margin:54px auto 30px auto;
}

#location{
    display: block;
    float: left;
    width: 370px;
    height: 370px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px
}

#city{
    font-family: Open Sans;
    text-align: center;
    color: white;
    font-size: 72px;
    margin-top: 12px;
    margin-bottom: 6px;
}

#country{
    font-family: Open Sans;
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#date{
    font-family: Open Sans;
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#temp{
    font-family: Open Sans;
    text-align: center;
    color: white;
    font-size: 130px;
    margin-top: 6px;
    margin-bottom: 12px;
}

#icon{
    display: block;
    float: left;
    width: 370px;
    height: 370px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px
}

#icon img{
    height: auto;
    max-width: 310px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#stat{
    display: block;
    float: left;
    width: 370px;
    height: 370px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px
}

.stat{
    height: 60px;
    margin: auto;
}

.stat img{
    text-align: center;
    height: auto;
    width: 60px;
    display: block;
    float: left;
    margin-bottom: 12px;
}

.stat p{
    font-family: Open Sans;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 36px;
    text-align: left;
    color: white;
    height: 60px;
    width: auto;
}

#forecast{
    display: block;
    width: 1200px;
    height: 370px;
    margin:30px auto 30px auto;
}
   
.forecast{
    display: block;
    float: left;
    clear: inherit;
    width: 170px;
    height: 370px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#forecast :hover{
    transform: scale(1.05);
}

.day p{
    font-family: Open Sans;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 36px;
    text-align: center;
    color: white;
}

.date p{
    font-family: Open Sans;
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 12px;
    text-align: center;
    color: white;
}

.icon{
    width: 170px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon img{
    height: auto;
    width: 130px;
}

.day-temp p{
    font-family: Open Sans;
    font-size:24px;
    text-align: center;
    
    margin-bottom: 12px;
    color: white;
}

.night-temp p{
    font-family: Open Sans;
    font-size:24px;
    margin-top: 6px;
    text-align: center;
    color: white;
}

footer{
    height: 42px;
    width: 100%;
    background-color: black;
    
}

.wrapper p{
    font-family: Open Sans;
    font-size:12px;
    margin-left: 30px;
    color: white;
}