body{
    background-image: url(../images/bg.jpg);
    background-size: 100%;
}

#wrapper{
    margin: 0 auto;
    width: 1230px;
}

header{
    height: 60px;
    width: 100%;
    background-color: red;
    margin-top: -8px;
}

#today{
    
    display: block;
    width: 570px;
    height: 480px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

#forecast{
    display: block;
    width: 1200px;
    height: 390px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}
   
article{
    float: left;
    width: 170px;
    height: 390px;
    margin-left: 15px;
    margin-right: 15px;
    
}

.day p{
    font-family:Open Sans;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 36px;
    text-align: center;
    color: white;
}

.date p{
    font-family:Open Sans;
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 24px;
    text-align: center;
    color: white;
}

.icon{
    width: 170px;
    text-align: center;
}

.icon img{
    height: auto;
    width: 130px;
}

.day-temp p{
    font-family:Open Sans;
    font-size:24px;
    text-align: center;
    margin-bottom: 6px;
    color: white;
}

.night-temp p{
    font-family:Open Sans;
    font-size:20px;
    margin-top: 6px;
    text-align: center;
    color: white;
}