#wrapper {
	max-width: 1170px;
	margin: 0 auto;
}	

#today{
    display: block;
    width: 570px;
    height: 570px;
    background-color: blue;
    margin: 0 auto;
}
   
article{
    display: block;
    float: left;
    width: 170px;
    height: 360px;
    background-color: green;
}

.day p{
    font-size:24px;
    text-align: center;
    color: white;
}

.date p{
    font-size:18px;
    text-align: center;
    color: white;
}

.icon{
    width: 170px;
}

.icon img{
    height: auto;
    width: 150px;
    margin: 0 auto;
}

.day-temp p{
    font-size:14px;
    text-align: center;
    color: white;
}

.night-temp p{
    font-size:14px;
    text-align: center;
    color: white;
}